@page "{id}"
@model IndexModel
@{
}
@if(Model.IsCurrentUser)
{
    <h2>It's your account</h2>
    <a asp-area="Identity" asp-page="/Account/Manage/Index">Manage your profile</a>

}
else
{
    <h2>It's <b>NOT</b> your account</h2>

}