:root {
    --primary-color: #07255b;
    --highlight-color: #a8d901;
}

* {
    margin: 0;
    padding: 0;
    font-size: 11px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.main {
    background-image: url("/images/backinformation-technology-minimalist-blue-xk9z8h5bore5jky6.jpg");
    background-color: var(--primary-color);
    width: auto;
    min-height: 100vh;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1%;
    width: 100%;
    padding: 0px;
    background-color: var(--primary-color);
}

.nav .navimg {
    width: 45px;
    padding: 5px;
}

.navimg11 {
    margin-left: -2%;
}

.nav .navimg1:hover {
    cursor: pointer;
    background-color: #07255b;
}

.nav li {
    padding: 5px;
    text-decoration: none;
}

    .nav li a {
        color: aliceblue;
        padding: 5px;
        text-decoration: none;
        transition: all 0.6s;
    }

.signup {
    background-color: var(--highlight-color);
    border-radius: 20px;
    padding: 10px;
    margin-left: 4%;
}

.nav .signup a {
    color: var(--primary-color);
    padding: 10px;
}

.nav li:hover {
    background-color: rgba(240, 248, 255, 0.702);
    padding: 5px;
    border-radius: 20px;
}

    .nav li:hover a {
        color: var(--primary-color);
    }

.main1 {
    width: 92%;
    margin-left: 5%;
    height: 260px;
    border-radius: 50px;
    background-color: #a7d9018e;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient( to left, var(--highlight-color), var(--primary-color) );
}

.main1-content {
    display: flex; /* Align items side by side */
    flex-direction: row; /* Arrange items horizontally */
    align-items: center;
    justify-content: center; /* Center items horizontally */
}

.maintext {
    color: aliceblue;
    margin: 10%;
    max-width: 680px;
    margin-top: 14%;
}

    .maintext h1 {
        font-size: 25px;
    }

.main1 img {
    margin-top: -5%;
    width: 150px;
    margin-right: 10%;
}

.main1 button {
    border: none;
    border-radius: 20px;
    background-color: #a7d90189;
    color: aliceblue;
    padding: 12px;
    font-weight: 600;
    margin-right: -49.5%;
    margin-top: -15%;
    font-size: 7px;
    width: 150px;
}

.columnn {
    flex-wrap: wrap;
    width: 100%;
    margin: 2% auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.columnn-1, .member-1 {
    box-shadow: 8px 7px 37px rgb(0, 0, 3);
    margin: 3%;
    height: auto;
    height: 300px;
    padding: 4%;
    color: aliceblue;
    text-shadow: 1px 1px 15px #07255b;
    background-color: #a7d901ae;
    opacity: 0;
    overflow: hidden;
    transform: translateY(40px);
    transition: all 1.5s ease-out;
}

    .columnn-1.slide-up {
        opacity: 1;
        transform: translateY(0);
    }

.columnn h2 {
    max-width: 1000px;
    font-weight: bold;
    margin-top: 4%;
    margin-left: 6%;
    color: aliceblue;
}

.columnn-containerr {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
}

.columnn-1:hover {
    transform: translateY(-20px);
    background-color: #7fa110;
}





.member {
    flex-wrap: wrap;
    width: 99%;
    margin: 2% 0 0 1%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.member-1 {
    width: 90%;
    height: auto;
}

    .member-1.slide-up {
        opacity: 1;
        transform: translateY(0);
    }

.member h2 {
    margin-top: 4%;
    margin-left: 4%;
    color: aliceblue;
}

.member-container {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    margin-bottom: 5%;
}

.member-1:hover {
    transform: translateY(-20px);
}

.team h2 {
    color: aliceblue;
    position: absolute;
    font-size: 2rem;
    font-weight: bold;
    margin: 2% auto 30% 8%;
    padding: 0 20px;
    width: 100%;
    top: 1%;
    z-index: 10;
}

.pic1, .pic2, .pic3 {
    width: 100px;
    float: right;
    border-radius: 30px;
    margin: 1%;
    display: block;
}

.team {
    position: relative;
    margin-top: 5%;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
}

.team-container {
    margin-top: 10%;
    overflow: hidden;
    width: 98%;
}

.team-slides {
    white-space: nowrap;
    display: flex;
    transition: all 0.5s ease-out;
}

.team-member {
    box-shadow: 2px 2px 25px rgb(0, 0, 3);
    width: 300px;
    height: 200px;
    color: aliceblue;
    background-color: rgba(253, 253, 253, 0.068);
    margin: 1%;
    box-sizing: border-box;
    padding: 2%;
}

    .team-member:hover {
        transform: translateY(-2%);
        cursor: pointer;
        transition: all 0.7s ease-out;
    }

    .team-member img {
        width: 90%;
        margin: 2%;
        float: none;
    }

.team-button {
    background-color: #07245b00;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin: 2%;
}

    .team-button img {
        width: 20px;
    }

.footer-bg {
    background-color: #051a41;
    color: aliceblue;
    padding: 5%;
    height: 250px;
}

.footer-img {
    transform: translateX(-2%);
    width: 180px;
    margin: 1%;
}

.keep-footer-at-bottom {
    min-height: 100vh;
}




@media screen and (min-width: 768px) and (max-width: 1150px) {
    * {
        font-size: 16.5px;
    }

    .nav a {
        font-size: 15.4px;
    }

    .nav .navimg {
        width: 40px;
    }

    .navimg11 {
        width: 20px;
    }

    .signup {
        margin-left: 13%;
    }

    .main1 {
        height: 440px;
        margin-left: 5%;
    }

    .maintext {
        width: 570px;
        margin-right: 8%;
    }

        .maintext h1 {
            font-size: 35px;
        }

    .main1-content {
        max-width: 750px;
    }

    .main1 img {
        width: 270px;
        margin-top: 4%;
        margin-right: 10%;
    }

    .main1 button {
        margin-left: -50%;
        margin-top: -5%;
        font-size: 12px;
        width: 200px;
    }

    .columnn-1 {
        max-width: 450px;
        flex: 1 1 calc(49% - 2%);
    }

    .footer-bg {
        height: 190px;
    }

    .footer-img {
        transform: translateX(-20%);
        width: 130px;
    }

    .footer p {
        margin: -1%;
    }
}

@media screen and (min-width: 1150px) {
    .nav a {
        font-size: 18px;
    }

    .navimg11 {
        margin-left: -15%;
    }

    .navimg10 {
        margin-right: 5%;
        width: 30px;
    }

    .signup {
        margin-left: 5%;
    }

    .main1 {
        height: 720px;
        border-radius: 50px;
    }

    .maintext {
        max-width: 880px;
        margin: 15% 15% 10% 1%;
    }

        .maintext h1 {
            font-size: 55px;
        }

    * {
        font-size: 20px;
    }

    .main1 img {
        width: 480px;
        margin-top: 10%;
        margin-right: 9%;
    }

    .main1 button {
        padding: 20px;
        font-size: 16px;
        width: 300px;
        margin-top: -5%;
        margin-left: -91%;
    }

    .columnn .columnn-1 {
        max-width: 400px;
        font-size: 22px;
        flex: 1 1 calc(33.333% - 2%);
    }

    .columnn-1 {
        height: 700px;
    }

    .column h2 {
        font-size: 2rem;
    }

    .team-member {
        height: 500px;
    }

        .team-member img {
            padding: 3%;
            margin: 2%;
            width: 250px;
        }

    .team-button img {
        width: 50px;
    }

    .footer-bg {
        height: 280px;
    }

    .footer-img {
        width: 230px;
    }
}
