@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



/* registr section */

.register-form {
    width: 95%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 16px;
    margin: auto;
    margin-top: 20px;
    box-shadow: 0 3px 10px rgba(0 0 0/0.2);

}
.register-form .container {
    width: 600px;
}
form .btn{
    background-color: #a8d901;
    padding: 10px 25px ;
}
.form-floating{
    position: relative;
}
#togglePassword {
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 20px;
    color: #888;
  }




