html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #07255b;
    font-family: "Roboto", sans-serif;
}
:root {
    --primary-color: #07255b;
    --highlight-color: #a8d901;
}
.navimg {
    width: 40px;
}

* {
    font-family: Arial;
}

p, h1, h2, h3, h4, h5 {
    color: white;
}

.signup {
    background-color: var(--highlight-color);
    border-radius: 20px;
    white-space: nowrap;
}

.nav-item:hover, .signup:hover {
    background-color: rgba(240, 248, 255, 0.846);
    border-radius: 20px;
}

.custom-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1%;
    width: 100%;
    padding: 10px;
    background-color: var(--primary-color);
}

