@page
@model IndexModel
@{
    ViewData["Title"] = "Home";

}
<section class="marquee">
    <marquee behavior="alternative" direction="left" width="100%">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</marquee>
</section>

<!-- main page section  -->
<section class="main-page">
    <div class="container">
        <div class="main-text">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi, ipsum modi. Odit, laudantium? Nam facere consequuntur molestiae eligendi, sed nesciunt cumque delectus necessitatibus atque libero esse veritatis repellat, voluptates quos?</p><br>
            <a href="daxilOl.html"><button class="btn btn-outline-dark ">Daxil ol</button></a>
            <h4>#BirlikdəZirvəyəDoğru</h4>
        </div>
        <div class="main-img">
            <img src="~/images/Techhomefoto.png" alt="">
        </div>
    </div>
</section>


<!-- about section  -->
<section class="about mb-3" id="about">
    <div class="container p-3 mt-3">
        <div class="row p-5 m-3">
            <div class="col col1">
                <h2>Text</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat quia saepe aperiam dolore, labore non rem dolorem blanditiis totam id necessitatibus commodi, repellendus qui repudiandae ad voluptates, eaque maiores fugit!</p>
            </div>
            <div class="col col2">
                <h2>Text</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat officiis omnis beatae dolore nam dolorum assumenda id esse, non delectus adipisci deserunt rem perspiciatis soluta incidunt quia nulla iure? Distinctio.</p>
            </div>
            <div class="col col3">
                <h2>Text</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima iste amet, error sapiente dolores temporibus, nam, animi natus sint ipsum veritatis labore consequuntur! Nostrum dolores obcaecati, distinctio animi vel quia.</p>
            </div>
        </div>
    </div>
</section>

<!-- team section  -->
<div class="team-page" id="team-page">
    <div class="wrapper">
        <h2>Komanda</h2>
        <div class="members">
            <div class="team-mem">
                <img src="/images/humanPAyejG1.jpg" width="150px">
                <h4>Hüseyn Vəliyev</h4>
                <p>CEO</p>
            </div>
            <div class="team-mem">
                <img src="~/images/human6.jpg" width="150px">
                <h4>Təhminə Abdullayeva</h4>
                <p>Front-end</p>
            </div>
            <div class="team-mem">
                <img src="~/images/human6.jpg" width="150px">
                <h4>Səbinə Rzazadə</h4>
                <p>Front-end</p>
            </div>
            <div class="team-mem">
                <img src="~/images/human6.jpg" width="150px">
                <h4>Nizami Məmmədov</h4>
                <p>Back-end</p>
            </div>
        </div>
    </div>
</div>


<!-- contact section  -->
<section class="contact mt-4 bg-ouline-primary p-5" id="contact">
    <div class="container p-5">
        <h2>Əlaqə</h2>
        <div class="row">
            <div class="col">
                <div class="card card1">
                    <div class="card-body text-center">
                        <h2 class="card-title"><i class="fa-solid fa-phone"></i></h2>
                        <h4 class="card-title">Telefon</h4>
                        <div class="tooltip"><a href="">+1234567890</a></div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card2">
                    <div class="card-body text-center">
                        <h2 class="card-title"><i class="fa-solid fa-envelope"></i></h2>
                        <h4 class="card-title">Email</h4>
                        <div class="tooltip"><a href="">example@gmail.com</a></div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card3">
                    <div class="card-body text-center">
                        <h2 class="card-title"><i class="fa-solid fa-location-dot"></i></h2>
                        <h4 class="card-title">Məkan </h4>
                        <div class="tooltip"><a href="">ADAU</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>