@page
@model IndexModel
@{
    ViewData["Title"] = "Home";

}

<div class="main">
    <div class="carousel">
        <!-- list item -->
        <div class="list">
            <div class="item">
                <img src="~/images/bigstock.jpg" />
                <div class="content">
                    <div class="author">LUNDEV</div>
                    <div class="title">Tech Study</div>
                    <div class="topic">Bize qosul</div>
                    <div class="des">
                        <!-- lorem 50 -->
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut
                        sequi, rem magnam nesciunt minima placeat, itaque eum neque
                        officiis unde, eaque optio ratione aliquid assumenda facere ab
                        et quasi ducimus aut doloribus non numquam. Explicabo,
                        laboriosam nisi reprehenderit tempora at laborum natus unde. Ut,
                        exercitationem eum aperiam illo illum laudantium?
                    </div>
                    <div class="buttons">
                        <form method="get">
                            <button>DAHA ÇOX</button>
                        </form>
                        <form>
                            <button asp-area="Identity" asp-page="/Account/Login">DAXİL OL</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="~/images/info-tech-banner2.jpeg" />
                <div class="content">
                    <div class="author">LUNDEV</div>
                    <div class="title">Tech Study</div>
                    <div class="topic">Bize qosul</div>
                    <div class="des">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut
                        sequi, rem magnam nesciunt minima placeat, itaque eum neque
                        officiis unde, eaque optio ratione aliquid assumenda facere ab
                        et quasi ducimus aut doloribus non numquam. Explicabo,
                        laboriosam nisi reprehenderit tempora at laborum natus unde. Ut,
                        exercitationem eum aperiam illo illum laudantium?
                    </div>
                    <div class="buttons">
                        <form method="get">
                            <button>DAHA ÇOX</button>
                        </form>
                        <form>
                            <button asp-area="Identity" asp-page="/Account/Login">DAXİL OL</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="~/images/IS-landing_iStock-1177116437_resized.jpg" />
                <div class="content">
                    <div class="author">LUNDEV</div>
                    <div class="title">Tech Study</div>
                    <div class="topic">Bize qosul</div>
                    <div class="des">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut
                        sequi, rem magnam nesciunt minima placeat, itaque eum neque
                        officiis unde, eaque optio ratione aliquid assumenda facere ab
                        et quasi ducimus aut doloribus non numquam. Explicabo,
                        laboriosam nisi reprehenderit tempora at laborum natus unde. Ut,
                        exer
                    </div>
                    <div class="buttons">
                        <form method="get">
                            <button>DAHA ÇOX</button>
                        </form>
                        <form>
                            <button asp-area="Identity" asp-page="/Account/Login">DAXİL OL</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- list thumnail -->
        <div class="thumbnail">
            <div class="item">
                <img src="~/images/bigstock.jpg" />
                <div class="content">
                    <div class="title">Name Slider</div>
                    <div class="description">Description</div>
                </div>
            </div>
            <div class="item">
                <img src="~/images/info-tech-banner2.jpeg" />
                <div class="content">
                    <div class="title">Name Slider</div>
                    <div class="description">Description</div>
                </div>
            </div>
            <div class="item">
                <img src="~/images/IS-landing_iStock-1177116437_resized.jpg" />
                <div class="content">
                    <div class="title">Name Slider</div>
                    <div class="description">Description</div>
                </div>
            </div>
        </div>
        <!-- next prev -->

        <div class="arrows">
            <button id="prev"><</button>
            <button id="next">></button>
        </div>
    </div>

    <div class="columnn" id="column-section">
        <h2>Lorem ipsum</h2>
        <div class="columnn-containerr">
            <div class="columnn-1">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Perspiciatis quae vitae ea officia, voluptatum quia cupiditate iste?
                Provident velit obcaecati saepe. Velit atque ducimus temporibus
                assumenda ratione eius, nihil magnam. Veritatis nesciunt labore
                blanditiis fuga. Consequuntur, sit aliquam inventore numquam impedit
                libero itaque quo ipsum ad fugit modi recusandae tenetur. Laboriosam
                debitis modi, distinctio quod perspiciatis cumque repudiandae at in.
            </div>
            <div class="columnn-1">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum odio
                quas dolores accusamus, debitis dicta, ipsam eveniet porro dolor
                consequuntur, nam voluptatem quos nobis reiciendis sunt provident
                temporibus placeat. Veritatis! Pariatur, adipisci libero sit
                corporis officiis ut eius aut voluptates minima debitis nemo
                exercitationem repellat temporibus, repellendus, sed voluptas dolore
                porro error autem id alias incidunt perspiciatis quibusdam.
            </div>
            <div class="columnn-1">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio
                accusantium, provident inventore eius velit et dolor maxime totam
                nobis praesentium rerum voluptatum quisquam iste quia odit fugiat
                nisi. Id, culpa.Lorem ipsum dolor sit amet consectetur adipisicing
                elit. Debitis quas placeat explicabo quam similique! Ut excepturi
                fuga quo incidunt tempore! Totam illo sequi nam dolore sit cum minus
                accusamus natus?
            </div>
        </div>
    </div>

    <div class="team">
        <h2>Bizim heyət</h2>
        <button class="team-button" onclick="moveSlide(-1)">
            <img src="~/images/angle-left.png" alt="" />
        </button>
        <div class="team-container">
            <div class="team-slides">
                <div class="team-member">
                    <img src="~/images/humanjpg.jpg" alt="" class="pic1" />
                    Lorem ipsum dolor
                </div>
                <div class="team-member">
                    <img src="~/images/human6.jpg" alt="" class="pic1" />
                    Lorem ipsum dolor
                </div>
                <div class="team-member">
                    <img src="~/images/human143f22fab3233c.jpg" alt="" class="pic1" />
                    Lorem ipsum dolor
                </div>
                <div class="team-member">
                    <img src="~/images/humanad.jpg" alt="" class="pic1" />
                    Lorem ipsum dolor
                </div>
                <div class="team-member">
                    <img src="~/images/humanjpg.jpg" alt="" class="pic1" />
                    Lorem ipsum dolor
                </div>
                <div class="team-member">
                    <img src="~/images/human143f22fab3233c.jpg" alt="" class="pic1" />
                    Lorem ipsum dolor
                </div>
                <div class="team-member">
                    <img src="~/images/humanPAyejG1.jpg" alt="" class="pic1" />
                    Lorem ipsum dolor.
                </div>
                <div class="team-member">
                    <img src="~/images/humanad.jpg" alt="" class="pic1" />
                    Lorem ipsum dolor
                </div>
            </div>
        </div>
        <button class="team-button" onclick="moveSlide(1)">
            <img src="~/images/angle-right.png" alt="" />
        </button>
    </div>

    <div class="member" id="column-section">
        <div class="member-container">
            <div class="member-1">
                <img src="~/images/monkey.jpg" alt="" class="pic1" />
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Perspiciatis quae vitae ea officia, voluptatum quia cupiditate iste?
                Provident velit obcaecati saepe. Velit atque ducimus temporibus
                assumenda ratione eius, nihil magnam. Veritatis nesciunt labore
                blanditiis fuga. Consequuntur, sit aliquam inventore numquam impedit
                libero itaque quo ipsum ad fugit modi recusandae tenetur. Laboriosam
                debitis modi, distinctio quod perspiciatis cumque repudiandae at in.
            </div>
            <div class="member-1">
                <img src="~/images/cat.jpg" alt="" class="pic2" />
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum odio
                quas dolores accusamus, debitis dicta, ipsam eveniet porro dolor
                consequuntur, nam voluptatem quos nobis reiciendis sunt provident
                temporibus placeat. Veritatis! Pariatur, adipisci libero sit
                corporis officiis ut eius aut voluptates minima debitis nemo
                exercitationem repellat temporibus, repellendus, sed voluptas dolore
                porro error autem id alias incidunt perspiciatis quibusdam.
            </div>
            <div class="member-1">
                <img src="~/images/dogs1.png" alt="" class="pic3" />
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio
                accusantium, provident inventore eius velit et dolor maxime totam
                nobis praesentium rerum voluptatum quisquam iste quia odit fugiat
                nisi. Id, culpa.Lorem ipsum dolor sit amet consectetur adipisicing
                elit. Debitis quas placeat explicabo quam similique! Ut excepturi
                fuga quo incidunt tempore! Totam illo sequi nam dolore sit cum minus
                accusamus natus?
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/index.js"></script>
}