@page
@model TechStudy.RazorPages.Pages.AccountsManager.Claims.IndexModel

<a asp-page="Manage" class="btn">Manage</a>
@foreach(var user in Model.Users)
{
    var userClaims = await Model.UserService.GetClaimsAsync(user);
    
    <div class="row">
        <h5>@user.Email</h5>
        @foreach(var claim in userClaims)
        {
            <hr />
            <p>Claim Type: @claim.Type</p>
            <p>Claim Value: @claim.Value</p>
            <form method="post">
                <button class="btn btn-danger" asp-page-handler="delete">Delete</button>
            </form>
        }
    </div>
}