@page "{userId}"
@model TechStudy.RazorPages.Pages.AccountsManager.Claims.ManageModel
@{
}
<div class="container">
    <form method="post">
        <input readonly hidden asp-for="UserId" value="@Model.TechStudyUser.Id" />
        <div class="row mb-3">
            <label class="form-label " >Claim Type</label>
            <input class="form-control" asp-for="ClaimType" />
        <div>
        </div class="row mb-3">
            <label class="form-label ">Claim Value</label>
            <input class="form-control" asp-for="ClaimValue" />
        </div>
        <button class="btn btn-primary">Submit</button>
    </form>

</div>
