@page
@model TechStudy.RazorPages.Pages.AccountsManager.Groups.CreateModel
@{
}

<div class="container">
    <form method="post">
        <div class="mb-3">
            <input asp-for="Group.Name" class="form-control"/>
            <label asp-for="Group.Name" class=""></label>
        </div>
        <div class="mb-3">
            <input asp-for="Group.Description" class="form-control" />
            <label asp-for="Group.Description" class=""></label>
        </div>
        
        <button class="btn btn-primary">Submit</button>
    </form>
</div>