<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TechStudy.RazorPages</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TechStudy.RazorPages.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/contact.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/index.css" />

</head>
<body>
    <header>
        <nav>
            <ul class="nav">
                <li class="navimg1 navimg10"><img src="menu-burger.png" alt="" /></li>
                <li class="navimg1 navimg11">
                    <a asp-area="" asp-page="/Index">
                        <img src="~/images/teklogo1 (1).png" alt="Logo" class="navimg" />
                    </a>
                </li>
                <li><a asp-area="" asp-page="/Index">Əsas səhifə</a></li>
                @* <li><a asp-area="" asp-page="/Members">Üzvlər</a></li> *@
                <li><a asp-area="" asp-page="/ContactUs">Bizimlə əlaqə</a></li>
                <partial name="_CustomLoginPartial" />
            </ul>
        </nav>
    </header>
    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="footer-bg ">
        <div class="container-fd">
            <div class="row">
                <div class="col-md-3 footimg">
                    <img src="~/images/logotechstudyes7878as.png"
                         alt="Tech Study Logo"
                         class="footer-img" />
                </div>
                <div class="col text-md-end">
                    <ul class="list-unstyled">
                        <li>+994ghjk :Phone</li>
                        <li>info@mhjkml;.org :Email</li>
                        <li>
                           <a class="text-decoration-none" href="https://maps.app.goo.gl/DJD6VzhVQJTE6pKh7">
                                Azərbaycan Dövlət Aqrar Universiteti Mühəndislik korpusu
                            </a>
                             :Location
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <div class="text-center mt-3">
        <p>Copyright © 2024 Tech Study | Powered by ADAU</p>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>