<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TechStudy.RazorPages</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TechStudy.RazorPages.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/contact.css" />
    <link rel="stylesheet" href="~/css/index.css" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    <img src="~/images/teklogo1 (1).png" class="navimg" />    
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item text-white">
                            <a class="nav-link text-white" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-page="/ContactUs">Contact Us</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="footer-bg">
        <div class="container-fd">
            <div class="row align-items-center">
                <div class="col-md-3 footimg">
                    <img src="~/images/logotechstudyes7878as.png"
                         alt="Tech Study Logo"
                         class="footer-img" />
                </div>
                <div class="col-md-5">
                    <ul class="list-unstyled">
                        <li>Contact us</li>
                        <li>Phone: +994ghjk</li>
                        <li>Email: info@mhjkml;.org</li>
                        <li>
                            Location: <a class="text-decoration-none" href="https://maps.app.goo.gl/DJD6VzhVQJTE6pKh7">
                                Azərbaycan Dövlət Aqrar Universiteti Mühəndislik korpusu
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 text-md-right">
                    <p>Copyright © 2024 Tech Study | Powered by ADAU</p>
                </div>
            </div>
        </div>
    </footer>
  
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>