@page
@model IndexModel
@{
}
<div class="container keep-footer-at-bottom">
    <div class="mb-3 row">
        <a asp-page="Accounts/Index">Accounts Manager</a>
    </div>
    <div class="mb-3 row">
        <a asp-page="Groups/Index" asp-route-pagenumber="1">Groups</a>
    </div>
</div>

